.input{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
    padding: 12px 20px;
    border: 1px solid #4A0042;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.label {
    display: block;
    font-weight: bold;
    color: #4c1130;
    margin-bottom: 8px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.button {
    background-color: #4A0042;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}



.button-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


.button-animacion {
    background-color: #E6DBE5;
    color: #400339;
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 600px) {
    .Piedepagina-card {
        grid-template-columns: 1fr; /* Una sola columna fluida */
        text-align: center;
        gap: 35px;
    }

    .footer-column {
        align-items: center;
    }

    .Titulo-inferior {
        text-align: center;
        width: 100%;
    }

    .contacto-item {
        justify-content: center;
    }

    .social-icons-wrapper {
        justify-content: center;
    }
    
    .navegacion-link-Inferior {
        margin: 0 auto;
    }
}


.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    background: white;
    position: relative;
    flex-wrap: wrap;
}


.navegacion-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.botones-grupo {
    display: flex;
    gap: 10px;
}

.menu-hamburguesa {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.menu-hamburguesa span {
    width: 100%;
    height: 3px;
    background-color: #4a004a;
    border-radius: 2px;
    transition: all 0.3s ease;
}






.navegacion-link {
    text-decoration: none;
    color: #400339;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-family: sans-serif;
}

.navegacion-link.active {
    background-color: #E6DBE5;
    color: #400339;
}


.Piedepagina-card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #390233;
    padding: 40px 5%;
    width: 100%;
    gap: 20px;
    box-sizing: border-box;
    justify-content: space-between;
}

.links-verticales {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.espacio{
    padding:20px;
}

.navegacion-link-Inferior {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.social-icons-wrapper {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.icon-img {
    width: 25px;
    height: auto;
}


.buttonPieDePagina {
    background-color: white;
    color: #4A0042;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}




.Titulo-inferior {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-align: left;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}

.footer-column {
    flex: 1;
    min-width: 200px;
}


/* Botones blancos */
.buttons-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.extra-info {
    color: white;
    font-size: 13px;
    margin-top: 15px;
    padding: 10px ;
}


.btn-footer {
    background-color: white;
    color: #4A0042;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
}

/* Estilo para el logo */
.footer-logo {
    max-width: 200px;
    margin-bottom: 15px;
}

.contact-info {
    color: white;
    font-size: 13px;
    margin: 2px 0;
}

.icon-small {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.contacto-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}



@media (max-width: 768px) {
    .menu-hamburguesa {
        display: flex;
    }

    .navegacion-menu {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        gap: 15px;
        z-index: 1000;
    }

    .navegacion-menu.desplegado {
        display: flex;
    }

    .botones-grupo {
        flex-direction: column; 
        width: 100%;
    }
    
    .botones-grupo button {
        width: 100%; 
    }
}


.error {
    color: #ef4444;
    font-size: 13px;
    margin-top: 4px;
    text-align: left;
}

.form-group label,
.label {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #4A0042;
    margin-bottom: 6px;
    font-weight: 500;
}


.modal-input,
.form-group input {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    border: 1px solid #d1d5db;
    border-radius: 12px;
    font-size: 15px;
    color: #878787;
    background-color: #f9fafb;
    box-sizing: border-box;
    outline: none;
    appearance: none;
}

.modal-input:focus {
    border-color: #4A0042;
    box-shadow: 0 0 0 3px rgba(74, 0, 66, 0.2);
}