.programa-card {
    display: flex;
    align-items: center;
    background-color: #EADDE9;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    border-radius: 15px;
    padding: 20px 40px;
    width: 90%;
    gap: 25px;
    margin: 20px auto;
}

/* Título */
.Programa-titulo {
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    color: #4A0042;
    text-align: left;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}

/* Imagen circular */
.Imagen-programa-card {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    border: 2px solid #4A0042;
}


/* Descripción */
.Programa-descripcion {
    font-size: 16px;
    color: #34042F;
    text-align: left;
    margin: 0;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.info-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Botones */
.Acciones-botones {
    display: flex;
    gap: 10px;
    margin-top: 4px;
}

.compartir-link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #4A0042;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}